<div class="container">
  <h1>Soy el eze y programo en html (?</h1>
  <h2>{{welcome}}</h2>
  <p>
    total: {{tasks().length}}
  </p>
  <li *ngFor="let task of tasks(); index as i">
    {{i+1}} {{task}}
  </li>
  <hr />
  <h2>{{'Hola'.repeat(4)}}</h2>
  <p>la suma de 3 + 3 es {{3 + 3 }}</p>
  <p>My name is {{name()}} and i'm {{persona().age}} years old</p>
  <hr />
  <!--<img [src]="person.avatar" alt=""> -->
  <p>
    <input type="number" [value]="persona().age">
    <button [disabled]="disabled">Click me</button>
  </p>
  <hr />
  <p>
    <button (click)="clickHandler()">Click me</button>
  </p>

  <p>
    <button (dblclick)="clickHandler()">Double me</button>
  </p>

  <hr/>
  <h1>Change Handlers </h1>
  <input type="number" [value]="persona().age" (change)="changeHandler($event)">

  <p>(Keydown)</p>
  <input type="text" [value]="persona().name" (change)="changeHandler($event)">

  <p>(Keydown)</p>
  <input type="text" [value]="persona().name" (keydown)="keydownHandler($event)">

  <hr/>
  <h1>signal </h1>
  <p> Persona: {{ name() }} </p>

  <hr/>
  <input type="color" [formControl]="colorCtrl" >
  <p> color: {{ colorCtrl.value }}</p>

  <hr/>
  <p>
    <input type="text" [formControl]="nameCtrl"> <br/>
    <span class="message-error" [class.show]="nameCtrl.invalid">Nombre invalido</span>
  </p>
  <input type="text">

  <hr/>
  <p>

    @if ( name()  === 'Pedro') {
    <div> El nombre es: {{ persona().name }}</div>
    }
    @else {
    <div> El nombre no es : {{ persona().name }} </div>
    }
  
  </p>
  <hr />
  
  <div *ngIf="name()  === 'arcos'; "> {{name()}} </div>
  <div> {{ name() }} </div>
  <hr/>
  <input type="text" [value]="name()" (keydown.enter)="nameChanger()" [formControl]="newNombreCtrl">
  <input type="text" [value]="persona().name" (keydown)="keydownHandler($event)">

  </div>
  <hr/>
  <p>{{persona().name}}</p>
  <div [ngSwitch]="persona().name">
    <p *ngSwitchCase="'nicolas'">yo soy nicolas</p>
    <p *ngSwitchCase="'julian'">yo soy julian</p>
    <p *ngSwitchCase="'ana'">yo soy ana</p>
    <p *ngSwitchCase="'valentina'">yo soy valentina</p>
    <p *ngSwitchDefault>yo no soy nadie</p>
  </div>

